.buyers-guide-category {
  section {
    background: #FFFFFF;
    overflow: hidden;
  }
  .categories-container {
    margin: 0 -10px;
    text-align: left;
    .category-item-container {
      vertical-align: top;
      margin: 10px;
      width: 155px;
      display: inline-block;
      a {
        text-decoration: none;
        color: inherit;
        text-align: left;
      }
      .category-image-container {
        display: flex;
        height: 155px;
        width: 155px;
        box-shadow: 0px 0px 5px 3px #E1E1E1;
      }
      img {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
      }
      .category-item-label {
        opacity: 0.5;
      }
      .category-item-header {

      }
    }
  }
}
