.buyers-guide-category {
  section {
    background: #FFFFFF;
    overflow: hidden;
  }
  h1.zilla-slab {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    @media screen and (min-width: 750px) {
      font-size: 52px;
    }
  }
  .categories-container {
    display: flex;
    flex-wrap: wrap;

    .category-item-container {
      width: 50%;

      &:nth-child(even) {
        padding-left: 3%;
      }
      &:nth-child(odd) {
        padding-right: 3%;
      }

      @media screen and (min-width: 750px) {
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      .category-image-container {
        padding: 32.3% 0;
        margin-bottom: 20px;
        box-shadow: 0px 0px 1px 1px #E1E1E1;
        overflow: hidden;
      }
      img {
        display: block;
        width: 100%;
        transform: scale(3);
      }
      .category-item-label {
        opacity: 0.5;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        @media screen and (min-width: 750px) {
          font-size: 24px;
        }
      }
      .category-item-header {
        font-weight: 700;
        margin-bottom: 15px;
        @media screen and (min-width: 750px) {
          font-size: 24px;
          margin-bottom: 50px;
        }
      }
    }
  }
}

.buyers-guide.buyers-guide-item {
  h1.zilla-slab {
    font-weight: 900;
  }
  h2.company-title,
  .category-item-label,
  .spy-table-row,
  .single-row h4,
  div,
  a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  .spy-table-row,
  div,
  a {
    font-weight: 400;
  }
  .single-row h4 {
    font-weight: 600;
  }
  .green-result,
  .red-result {
    text-transform: capitalize;
    font-weight: 600;
  }
  h3, h4.privacy-message {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    font-size: 24px;
  }
  p {
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    font-size: 20px;
  }
  div.breadcrumb,
  .breadcrumb-item,
  .breadcrumb-split {
    font-weight: 600;
  }
  div.menu-container.zilla-slab.show {
    div.link-container a {
      font-family: 'Open Sans', sans-serif;
    }
  }
  div.buyers-guide-header {
    div.asterix.header-title {
      font-family: 'Zilla Slab', serif;
      font-weight: 900;
    }
  }
}
