.buyers-guide-item {
  section {
    padding: 0 20px;
    .breadcrumb {
      margin: 0 -20px;
    }
    background: #FFFFFF;
    overflow: hidden;
    img {
      width: 100%;
      max-width: 375px;
      margin: 0 auto;
      display: block;
      margin: 20px 0;
    }
    .clear {
      overflow: hidden;
    }
    .category-item-label {
      opacity: 0.5;
      font-size: 24px;
      float: left;
      line-height: 23px;
    }
    h1 {
      margin: 0;
    }
    .age-range {
      font-style: italic;
    }
    .copy-link {
      background: #F44041;
      color: #FFFFFF;
      vertical-align: text-bottom;
      padding: 2px 12px;
      float: right;
    }
  }
}
