.buyers-guide-header-container {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  background: #fff;
  color: #000;
  z-index: 3;
  padding: 20px;

  @media screen and (min-width: 500px) {
    padding: 20px 60px;
  }

  .buyers-guide-header {
    font-size: 30px;
    font-family: "Zilla Slab", sans-serif;
    font-weight: 400;
    letter-spacing: 0.56px;
    display: flex;
    justify-content: space-between;
    .burger-basket {
      display: flex;
      align-items: center;
    }

    .header-title {
      @media screen and (max-width: 500px) {
        font-size: 12px;
      }
    }

    .social-buttons {
      display: flex;
      align-items: center;

      button {
        padding: 10px;
      }
    }
  }
  .bg-subhead {
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: 0.24px;
    max-width: 370px;
    padding-top: 10px;

    p {
      margin: 0;
    }
  }
  .menu-container {
    padding: 20px 45px;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);

    .close-button {
      width: 29px;
      height: 29px;
      background: no-repeat url("/assets/buyers-guide/menu-close.svg") 0 0 / contain;
      position: relative;
      top: 5px;
    }

    .moz-logo {
      margin-top: 30px;
      display: block;
    }

    &.show {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .link-container {
      margin-bottom: 10px;
      a {
        font-family: "Open Sans";
        font-size: 20px;
        color: #fff;
        letter-spacing: 0.84px;
        line-height: 1.35;
        text-decoration: none;

        @media screen and (min-width: 750px) {
          font-size: 40px;
        }

        *:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.itallic {
  font-style: italic;
}

.buyers-guide-html {
  .share-progress-button {
    display: none;
  }
}
.buyers-guide {
  .asterix {
    &:before {
      content: '*';
      font-weight: 700;
      color: #000000;
    }
  }
  .modal {
    .modal-close {
      top: 60px;
      right: 15px;
      padding: 5px;
      color: black;
    }
    .error-message {
      text-align: left;
      color: #000000;
      font-style: italic;
    }
    a {
      text-decoration: underline;
      cursor: pointer;
    }

    .signup-form {
      h2 {
        margin: 0 0 25px 0;
      }
      p {
        margin: 0 0 15px 0;
        font-size: 20px;
      }
      p.emphasized {
        font-weight: 600;
        margin-top: 30px;
      }
      .blankSpace {
        display: none;
      }
      .email-input {
        padding: 14px 0;
        margin: 18px 0 0 0;
        background: #FFFFFF;
        border: none;
        font-style: italic;
        text-align: center;
        width: 100%;
      }
      input[type="checkbox"] {
        display: none;
      }
      label {
        display: flex;
        margin-top: 18px;
        align-items: center;
        font-size: 12px;
        text-align: left;
        &::before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          position: relative;
          background-color: #F53F3E;
          border: 1px solid #fff;
          margin-right: 10px;
          cursor: pointer;
          vertical-align: middle;
          flex-shrink: 0;
        }
      }
      input[type="checkbox"]:checked + label::before {
        content: "\2713";
        color: #f3f3f3;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .button, .secondary {
        display: block;
        margin: 30px auto;
      }
      .social-buttons {
        margin: 22px 0;
        button {
          color: #F53F3E;
          height: 58px;
          width: 58px;
        }
      }
      .button {
        background: #000000;
        color: #FFFFFF;
        padding: 12px 30px;
        &::after {
          position: absolute;
          content: '';
          animation: spin 1s linear infinite;
          box-sizing: border-box;
          border-radius: 50%;
          left: 50%;
          top: 50%;
        }
        &.submitting {
          color: transparent;
          position: relative;
          &::after {
            height: 20px;
            width: 20px;
            margin-left: -10px;
            margin-top: -10px;
            border: 4px solid #F53F3E;
            border-right: 4px solid #FFFFFF;
          }
        }
      }
      .donate-container {
        margin: 25px 0 15px 0;
        .donate-button {
          background: #f42c2c;
          color: #FFFFFF;
          height: 52px;
          padding: 0 36px;
          margin: 15px 0 0 0;
          display: inline-flex;
          align-items: center;
          text-decoration: none;
        }
      }

      .secondary {
        text-decoration: underline;
      }
      background: white;
      width: 100%;
      color: black;
      max-width: 376px;
      padding: 45px 30px 25px 30px;
      display: flex;
      align-items: center;
      text-align: center;
      margin-top: 45px;
      @media screen and (max-width: 376px) {
        min-height: 100vh;
        margin-top: 0;
        padding: 80px 20px 27px 20px;
      }
    }
  }

  button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    &.hamburger {
      background: url("/assets/buyers-guide/menu-burger.svg") no-repeat 0 0 / contain;
      width: 33px;
      height: 38px;
      margin-left: 15px;
    }
    &.social-button {
      color: #000;
      font-size: 20px;
    }
  }
  a {
    &.moz-logo {
      @media screen and (min-width: 750px) {
        width: 111px;
        height: 32px;
        margin-right: 20px;
        background-repeat: no-repeat;
        img {
          display: block;
          height: 100%;
        }
      }
      @media screen and (max-width: 750px) {
        display: none;
      }
    }
    &.moz-logo-2 {
      height: 28px;
      width: 28px;
      margin-right: 10px;
      background-image: url("/assets/moz-fav-bw-rgb-reverse.svg");
      background-size: contain;
      background-repeat: no-repeat;
      filter: invert();
      img {
        display: block;
        height: 100%;
      }
      @media screen and (min-width: 750px) {
        display: none;
      }
    }
  }
  .breadcrumb {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.7px;
    height: 37px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @media screen and (max-width: 380px) {
      font-size: 12px;
    }
    .breadcrumb-split {
      margin: 0 10px;
      @media screen and (max-width: 380px) {
        margin: 0 5px;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    .breadcrumb-item button {
      font-size: inherit;
      margin: 0;
    }
    .breadcrumb-item.last {
      color: #FF0000;
    }
  }
  .page-width {
    width: 100%;
    max-width: 545px;
    @media screen and (min-width: 750px) {
      max-width: 800px;
    }
    margin: 0 auto;
  }
  .info-blob {
    text-align: left;
    font-size: 13px;
    margin: 0 auto 15px;
    @media screen and (min-width: 750px) {
      font-size: 20px;
      margin-bottom: 50px;
    }
  }
  .page-width {
    padding: 0 20px;
  }
  .center-line {
    background: #000000;
    width: 2px;
    height: 60px;
    margin: 0 auto;
  }
  .fancy-letter {
    b {
      letter-spacing: 1.5px;
    }
    overflow: hidden;
    text-align: left;
    &::first-letter {
      color: #FFFFFF;
      background: #f42c2c;
      font-weight: 900;
      float: left;
      font-size: 50px;
      padding: 10px 13px;
      margin: 5px 5px 0 0;
      line-height: 36px;
      @media screen and (max-width: 750px) {
        font-size: 70px;
        margin: 5px 10px 0 0;
        line-height: 72px;
      }
    }
  }

  .content-container {
    width: 100%;
    background: #FFFFFF;
  }
  .content {
    padding: 0 20px;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
  }
  .playfair {
    font-family: 'Playfair Display';
  }
  .generic-footer {
    a {
      color: #FFFFFF;
    }
  }
  .header-section {
    text-align: center;
    header {
      padding: 0 20px;
      min-height: ~"calc(100vh - 45px)";
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 45px;
      p {
        font-weight: 400;

        @media screen and (min-width: 668px) {
          font-size: 30px;
        }
      }
    }
  }
}
