@font-face {
  font-family: "Open Sans";
  src: url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.eot");
  src: url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html { padding: 0; margin: 0; background: #f9f9f9 url(../colors/stone/bg-stone.png) repeat-x; }
body.login { padding: 0 0 0; border: 0; margin: 0; min-width: 320px; font: 14px/1.5 "Open Sans", sans-serif; color: #444; background: transparent; }

#login { margin-top: 0; }

h1 { background: transparent url("../img/logo-mozilla.png") 56% top no-repeat; width: 310px; height: 80px; margin: 0 0 .5em; overflow: hidden; }
h1 a { position: absolute; left: -999em; }

.login #backtoblog { position: absolute; top: 0; left: 0; width: 100%; height: 3em; border: 0; margin: 0; padding: 0; background: rgba(0,0,0,.05); }
.login #backtoblog a { position: relative; top: .75em; left: 20px; text-decoration: none; text-shadow: none; }
.login #backtoblog a:hover, .login #backtoblog a:focus, .login #backtoblog a:active { color: #fff !important; text-decoration: underline; }

#loginform { border-color: #eee; border-radius: 15px; box-shadow: 0 2px 3px rgba(0,0,0,.1); }

/* @Links */
.login #backtoblog a, .login #nav a { color: #2983c8 !important; text-decoration: none; text-shadow: none; }
.login #backtoblog a:hover, .login #backtoblog a:focus, .login #backtoblog a:active,
.login #nav a:hover, .login #nav a:focus, .login #nav a:active { color: #20679e !important; text-decoration: underline; }


/*** @Buttons *********/
#wp-submit {
  border-radius: .25em;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 8px 10px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  font-size: .857em;
  line-height: 1.1;
  font-weight: normal;
  background-color: #266194;
  background-image: -moz-linear-gradient(#3c88cc,#276195);
  background-image: -ms-linear-gradient(#3c88cc,#276195);
  background-image: -webkit-linear-gradient(#3c88cc,#276195);
  background-image: -o-linear-gradient(#3c88cc,#276195);
  background-image: linear-gradient(#3c88cc,#276195);
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}
#wp-submit:hover,
#wp-submit:focus,
#wp-submit:active {
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2), inset 0 12px 24px 2px #3089d8;
}
