//Elements
*, *:before, *:after{
	box-sizing: border-box;
}

html {
  background-color: #1E1E1E;
  font-family: 'Fira Sans',Arial,"Lucida Grande",sans-serif;
}
body{
	margin: 0;
	background-color: #1c325e;
}

img, video{
max-width: 100%;
}
video{
	width: 100%;
}

main{
	background-color: black;
}

p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  margin: 25px 0;
}

video{
	display: block;
}

a {
	text-decoration: none;
	color: #009DAA;
	&:hover {
		color: #003E60;
  }
}

h1 {
  line-height: 77px;
  font-size: 64px;
  color: #80B6B1;
  margin: 16px;
  @media screen and (max-width: 767px) {
    margin-top: 48px;
    font-size: 34px;
    line-height: 40px;
  }
}

h2 {
  font-size: 50px;
  font-weight: 700;
  @media screen and (max-width: 767px) {
    font-size: 32px;
    font-weight: 400;
  }
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 20px;
  font-weight: 300;
}



.button{
	font-family: "Fira Sans", sans-serif;
	font-size: 18px;
	background-color: #f46060;
	border: none;
	color: white;
	padding: 12px 37px;
	text-align: center;
	text-decoration: none;
	border-radius: 25px;
	transition: all 0.5s ease-in-out 0s;
	cursor: pointer;
	&:hover{
		background-color: white;
		color: #f46060;
	}
}
