@import "../../components/footer";

//EncryptHeader

  header{
    background-color: @primary_darkblue;
    overflow-y: visible;
  }
  .header-content{
    max-width: 960px;
    margin: 0 auto;
  }
  .logo {
    margin: 30px 0 20px;
  }
  .encryptText {
    max-width: 960px;
    margin: 0px auto;
    z-index: 2;
    position: relative;
  }

//EncryptVideo

.video-wrapper{
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
video{
  margin: 0 auto;
}
.encrypt-meta-wrapper{
  position: absolute;
  bottom: 1em;
  width: 100%;
}
.encrypt-meta{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    .videoTitle {
      font-size: 45px;
      color: @primary_red;
      display: block;
    }
    .videoMeta {
      .white-text {
        color: #FFF;
      }
      .purple-text {
        color: #8B3283;
      }
    }
    p {
      font-size: 18px;
      color: #FFF;
      margin: 0;
    }
  }

.join-mozilla{
  color: #FFF;
  text-align: center;
}
//ShareThisNow
.share-this-now {
  font-weight: 300;
  font-size: 18px;
  color: #FFF;
  background-color: @primary_red;
  display: flex;
  align-items: center;
  justify-content: center;
    .horizontal-rule{ display: none; }
    h2{font-size: 27px;}
    .social {
      display: flex;
      .circle {
        display: inline-block;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        background-color: #FF8F98;
        text-align: center;
        vertical-align: middle;
        margin-right: 5px;
        i {
          padding: 7px;
          font-size: 20px;
        }
      }
    // .title {
    //   font-weight: 300;
    //   font-size: 27px;
    //   padding-right: 12px;
    // }
    // .text {
    //   font-style: italic;
    // }
  }
}


//Footer

.footer {
  background-color: @contrast_darkblue;
}





.encrypt{

    ///
  /// common stuff
  ///



  .input {
    height: 50px;
    width: 100%;
    margin-top: 25px;
  }
  .input:first-of-type {
    margin: 0;
  }
  .checkboxDiv {
    margin-top: 35px;
    padding-bottom: 40px;
    input[type="checkbox"] {
      float: left;
      margin-top: 5px;
    }
    .label {
      color: #FFF;
      font-style: italic;
      font-weight: lighter;
      font-size: 18px;
      text-align: left;
      margin-left: 25px;
    }
  }
  .horizontal-rule {
    background-color: #6E6E6E;
    height: 1px;
    width: 64px;
    margin: 22px auto 0;
  }
}
