
.encrypt{
  ///
  /// default stuff
  ///
  img{
    max-width: 100%;
  }
  header{
    background-color: @primary_darkblue;
    overflow-y: visible;
  }
  .header-content{
    max-width: 1200px;
    margin: 0 auto;
  }
  .hero-unit {
    background-color: @primary_darkblue;
  }
  .encryptText {
    max-width: 1200px;
    margin: 0px auto;
  }
  .content-container {
    .content {
      padding-top: 0;
    }
  }
  .videoSection {
    text-align: center;
    background-color: #000;
  }

  .footer {
    background-color: @contrast_darkblue;
  }

  .button {
    text-transform: none;
    background-color: @primary_red;
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    border-color: @primary_red;
    height: 55px;
    width: 180px;
    &:hover {
      border-color: @contrast_red;
      background-color: @contrast_red;
      color: #FFF;
    }
  }

    ///
  /// common stuff
  ///

  .share-this-now {
    font-weight: 300;
    font-size: 18px;
    height: 110px;
    color: #FFF;
    background-color: @primary_red;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      justify-content: center;
      .social {
        display: inline;
        .circle {
          display: inline-block;
          border-radius: 50%;
          height: 35px;
          width: 35px;
          background-color: #FF8F98;
          text-align: center;
          vertical-align: middle;
          margin-right: 5px;
          i {
            padding: 7px;
            font-size: 20px;
          }
        }
      }
      .title {
        font-weight: 300;
        font-size: 27px;
        padding-right: 12px;
      }
      .text {
        font-style: italic;
      }
    }
  }
  .logo {
    padding: 30px 120px;
  }
  .input {
    height: 50px;
    width: 100%;
    margin-top: 25px;
  }
  .input:first-of-type {
    margin: 0;
  }
  .checkboxDiv {
    margin-top: 35px;
    padding-bottom: 40px;
    input[type="checkbox"] {
      float: left;
      margin-top: 5px;
    }
    .label {
      color: #FFF;
      font-style: italic;
      font-weight: lighter;
      font-size: 18px;
      text-align: left;
      margin-left: 25px;
    }
  }
  .horizontal-rule {
    background-color: #6E6E6E;
    height: 1px;
    width: 64px;
    margin: 22px auto 0;
  }
}