.encrypt {
  .hero-unit {
    background-color:  #5D5D5D;
  }
  .encryptText {
    max-width: 1200px;
    margin: 0px auto;
  }
  .content-container {
    .content {
      padding-top: 0;
    }
  }
  .videoSection {
    text-align: center;
    background-color: #000;
  }
}
