//V1 Stuff

.encrypt.v1{
  header{
    max-height: 200px;
  }
  .video-description{
    display: none;
  }
}

//V2 Stuff

.encrypt.v2{
  header{
    max-height: 235px;
  }
  .share-this-now, .join-mozilla{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
    h2{
      margin-bottom: 0;
      font-size: 38px;
    }
    .horizontal-rule{
      display: block;
    }
    .social{
      order: 2;
    }
  }

}

.dual-cta-wrapper{
  @media(min-width: 767px){
    display: flex;
  }
}

.join-mozilla-wrapper{
  background-color: @primary_darkblue;
  flex:1;
}
.share-wrapper{
  flex: 1;
  background-color: @primary_red;
}

//V3 Stuff

.encrypt.v3{
  main{
    background-color: @contrast_lightblue;
  }
  .encryptText{
    margin-bottom: 20px;
  }
  .videoSection{
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
    @media(min-width: 600px){
      display: flex;
    }
  }
  .video-wrapper{
    background: transparent;
    flex: 2;
    @media(min-width: 600px){
      margin-right: 2em;
    }
  }
  .encrypt-signup{
    flex: 1;
    text-align: center;
  }
  .encrypt-meta-wrapper{
    position: static;
  }
}
