.encrypt.v1{
  header{
    max-height: 200px;
  }
}

.encrypt.v2{
  header{
    max-height: 235px;
  }
  .share-this-now, .signup{
    max-width: 600px;
  }
}

.encrypt.v3{
  .encryptText{
    margin-bottom: 20px;
  }
}


.dual-cta-wrapper{
  display: flex;
}

.encrypt {
  ///
  /// media queries
  ///
  @media (max-width: 320px) {
    .videoSection-v3 {
      .right-section {
        width: 300px;
        padding: 0px;
      }
      .left-section {
        width: 300px;
        video {
          max-width: 300px;
          width: 100%;
        }
      }
    }
  }

}
