@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.eot");
  src: url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.woff") format("woff"), url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: url("//www.mozilla.org/media/fonts/OpenSans-Italic-webfont.eot");
  src: url("//www.mozilla.org/media/fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("//www.mozilla.org/media/fonts/OpenSans-Italic-webfont.woff") format("woff"), url("//www.mozilla.org/media/fonts/OpenSans-Italic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("//www.mozilla.org/media/fonts/OpenSans-Semibold-webfont.eot");
  src: url("//www.mozilla.org/media/fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("//www.mozilla.org/media/fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("//www.mozilla.org/media/fonts/OpenSans-Semibold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: url("//www.mozilla.org/media/fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("//www.mozilla.org/media/fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("//www.mozilla.org/media/fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("//www.mozilla.org/media/fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("//www.mozilla.org/media/fonts/OpenSans-Light-webfont.eot");
  src: url("//www.mozilla.org/media/fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("//www.mozilla.org/media/fonts/OpenSans-Light-webfont.woff") format("woff"), url("//www.mozilla.org/media/fonts/OpenSans-Light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Light";
  font-style: italic;
  font-weight: normal;
  src: url("//www.mozilla.org/media/fonts/OpenSans-LightItalic-webfont.eot");
  src: url("//www.mozilla.org/media/fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("//www.mozilla.org/media/fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("//www.mozilla.org/media/fonts/OpenSans-LightItalic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: bold;
  src: url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.eot");
  src: url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.woff") format("woff"), url("//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.ttf") format("truetype");
}

header,
hgroup,
nav,
section,
article,
aside,
footer,
main {
  display: block;
}

html,
body,
form,
fieldset,
legend,
h1,
h2,
h3,
h4,
h5,
h6,
dd {
  margin: 0;
  padding: 0;
}

p,
pre,
blockquote,
ul,
ol,
dl,
table,
figure {
  margin: 0 0 1.5em;
  padding: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: 0;
}

legend {
  color: inherit;
}

form ul,
form ol {
  list-style: none;
}

a img {
  border: 0;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.dtstart,
.dtend,
.published,
.updated {
  border: 0;
}

img,
video,
object,
embed {
  height: auto;
  max-width: 100%;
}

html {
  background: #fff;
  border-top: 2px solid #fff;
}

body {
  color: #333;
  font: 14px/1.6 'Fira Sans', "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  moz-tap-highlight-color: #6bd7f3;
  webkit-tap-highlight-color: #6bd7f3;
  webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4d4e53;
  letter-spacing: -0.05rem;
  font-family: 'Fira Sans', "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  font-weight: normal;
  line-height: 140%;
  margin: 0 0 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

h1 {
  font-family: 'Fira Sans', 'Open Sans', sans-serif;
  font-size: 3.92em;
  font-weight: 700;
  line-height: 130%;
}

h1 img {
  margin-left: 5px;
  max-width: 300px;
  width: 80%;
}

.entry-title,
h2 {
  color: #d42e32;
  font-family: "Fira Sans", "Open Sans Light", sans-serif;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 0px !important;
  line-height: 140%;
}

h3 {
  font-size: 1.71em;
  letter-spacing: -0.5px;
  font-weight: 300;
}

h4 {
  font-size: 1.5em;
  letter-spacing: -0.25px;
}

h5 {
  font-size: 1.125em;
  margin: 0 0 12px;
  padding-top: 8px;
}

h6 {
  font-size: 1em;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 2.2em;
  }
}

a:link,
a:visited,
.entry-content p a,
footer a:link,
footer a:visited {
  color: #2983c8;
  text-decoration: none;
}

a:hover,
a:focus,
a:active,
.entry-content p a:hover,
footer a:hover,
footer a:focus,
footer a:active {
  color: #C6252F;
  text-decoration: underline;
}

a.red:link,
a.red:visited,
a.red footer a:link,
.entry-content p a:hover,
footer a.red:visited {
  color: #fff;
}

.entry-content h5 {
  font-weight: bold;
}

.entry-content p {
  margin-bottom: 15px;
}

#nav-access {
  position: absolute;
  top: -50em;
}

#foot-logo .top {
  left: -999em;
  position: absolute;
}

#nav-access a:focus,
#nav-access a:active,
#foot-logo .top:focus,
#foot-logo .top:active {
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  display: block;
  ms-box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  o-box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  outline: 0;
  padding: .25em 24px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 204px;
  z-index: 99;
}

#nav-access a:focus,
#nav-access a:active {
  background: rgba(255, 255, 255, .5);
  border: 1px solid #20679e;
  left: 0;
  top: 51em;
}

#foot-logo .top:focus,
#foot-logo .top:active {
  background: #f5f1e8;
  border: 1px solid #67a7d0;
  left: 48px;
  top: -2.75em;
}

#page {
  background: radial-gradient(#2D8BD9, #2D94E3, #2379BE) repeat-x scroll center top;
  background-position: center top;
  background-repeat: repeat-x;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.hero {
  display: block;
  padding-bottom: 25px;
  position: relative;
}

.hero:after {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #2D8EDC;
  bottom: -50px;
  content: "";
  height: 0px;
  left: 0px;
  margin: 0px auto;
  position: absolute;
  right: 0px;
  width: 0px;
}

.wrap {
  margin: 0 auto;
  moz-transition: padding, width .5s ease-out;
  ms-transition: padding, width .5s ease-out;
  o-transition: padding, width .5s ease-out;
  position: relative;
  transition: padding, width .5s ease-out;
  webkit-transition: padding, width .5s ease-out;
}

.home-fellow {
  align-items: center;
  background: #54CBE1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-shrink: 0;
  height: 325px;
  justify-content: center;
  -webkit-justify-content: center; /* Safari 6.1+ */
}

.fellow-circle {
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 38px;
  height: 38px;
  margin-left: -20px;
  font-family: "FA-Icons-Home";
  font-size: 2.125rem;
  text-indent: 2px;
  content: "";
  border: 2px solid #FFF;
  border-radius: 100%;
  line-height: 38px;
  color: #FFF;
  opacity: 0.6;
}

.home-fellow-content {
  text-align: center;
  width: 768px;
  margin-top: 45px;
}

.home-fellow-arrow {
  margin: 0 auto;
  padding-top: 25px;
}

.home-fellow-arrow img {
  max-width: 100%;
  width: 40px;
}

.home-fellow-content .home-fellow-intro {
  margin: 0px auto;
  max-width: 550px;
}

.home-fellow-content .home-fellow-intro p {
  display: block;
  font-size: 38px;
  margin: 0;
  font-weight: 300;
  letter-spacing: -0.05rem;
}

.home-fellow-intro p:first-child {
  color: #2F6EAC;
  line-height: 1;
}

.home-fellow-intro p:last-child {
  color: #FFF;
}

.home-fellow-right-img {
  position: absolute;
  width: 285px;
  right: -136px;
}
.home-fellow-left-img {
  position: absolute;
  width: 320px;
  left: -145px;
}

.home-fellow-img-container {
  position: relative;
  width: 768px;
  bottom: 125px;
}

#masthead {
  background-position: right top;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 60px;
  overflow: auto;
  padding: 0px 0px 10px;
  position: relative;
  width: 768px;
}

#masthead hgroup {
  display: inline-block;
  float: left;
}

#masthead.image hgroup {
  padding-right: 340px;
}

#site-title {
  color: #fff;
  font-size: 3em;
  letter-spacing: -3px;
  margin: 0 0 .15em -5px;
  moz-transition: font-size, letter-spacing .5s ease-out;
  ms-transition: font-size, letter-spacing .5s ease-out;
  o-transition: font-size, letter-spacing .5s ease-out;
  text-shadow: none;
  transition: font-size, letter-spacing .5s ease-out;
  webkit-transition: font-size, letter-spacing .5s ease-out;
}

#site-title a {
  color: #333;
  text-decoration: none;
}

#site-title a:hover,
#site-title a:focus,
#site-title a:active {
  text-decoration: none;
}

#masthead #tabzilla {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#content {
  clear: both;
  margin: 0px auto;
  padding: 0px;
  position: relative;
  width: 768px;
}

.main {
  float: left;
  margin: 0;
  width: 620px;
}

body.page .main {
  float: none;
  margin: 0 auto;
}

body.home .main {
  float: none;
  margin: 0;
  width: 100%;
}

.omsc-toggle-inner {
  padding-top: 0 !important;
}

.widget-title {
  font-family: 'Fira Sans', 'Open Sans';
  font-size: 1.25em;
  margin: .382em -1px 12px;
}

#nav-primary {
  float: right;
  font-family: 'Fira Sans', "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  margin-right: 140px;
}

#nav-primary {
  margin-bottom: 0;
}

#nav-primary ul {
  list-style: none;
  margin: 0;
}

#nav-primary li {
  display: inline-block;
  padding: 5px 0;
}

#nav-primary.nav-full li ul {
  display: none;
}

#nav-primary > ul li {
  padding-top: 15px;
  text-transform: uppercase;
}

#nav-primary > ul li.current-menu-item,
#nav-primary > ul li.current-menu-ancestor {
  background-image: url("../assets/menu-current.png");
  background-position: 50% 0px;
  background-repeat: no-repeat;
}

#nav-primary-sub {
  background-color: #FFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  font-family: 'Fira Sans', "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  margin: 15px auto;
  width: 620px;
}

#nav-primary-sub ul {
  list-style: none outside none;
  margin: 0px;
  text-align: center;
}

#nav-primary-sub ul li {
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
}

#nav-primary-sub ul li a {
  color: #484848;
  display: inline-block;
  padding: 6px 15px;
}

#nav-primary-sub ul li.current-menu-item a {
  color: #D42E32;
}

#nav-primary-sub ul li:not(:first-of-type) a {
  border-left: 1px dotted #CCC;
}

#nav-primary a {
  color: #fff;
  display: inline-block;
  padding: 6px 15px;
}

#nav-primary li:first-child a {
  border-left: 0;
}

#mobile-nav-container {
  display: none;
}

.main .post,
.main .page {
  clear: both;
  margin-bottom: 72px;
  position: relative;
}

.page-title {
  margin: -.3em 0 24px;
}

.archive .page-title,
.search-results .page-title {
  font-size: 1.75em;
  letter-spacing: -0.5px;
  margin-top: 0;
}

.entry-title {
  font-size: 2em;
  letter-spacing: -1px;
  margin: 0 0 .5em;
  min-height: 55px;
}

.single-post .entry-title,
.page .entry-title {
  font-size: 3em;
  letter-spacing: -2px;
}

.show-comments.no-author .entry-title {
  float: left;
  width: 410px;
}

.entry-meta {
  background: rgba(0, 0, 0, .02);
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .1);
  clear: both;
  font-size: .857em;
  margin: 24px 0 0;
  padding: 12px 24px 8px;
}

.entry-meta p {
  margin: 0 0 .5em;
}

.entry-meta b {
  font-weight: normal;
  margin-right: 10px;
  text-transform: uppercase;
}

.entry-header {
  margin: 0 0 20px;
  padding: .5em 0 0;
  position: relative;
}

.entry-header:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.post .entry-header {
  padding-left: 92px;
}

.page .entry-title {
  margin: 0;
  min-height: 0;
}

.page .entry-header,
.single-post .entry-header,
.no-author .entry-header {
  padding-bottom: 0;
}

.post.no-results .entry-header {
  padding-left: 0;
}

.post.no-results .entry-title {
  min-height: auto;
}

.entry-header .share {
  float: right;
  text-align: right;
}

.entry-header .socialshare #share-options {
  left: auto;
  right: 0;
}

.entry-header .vcard {
  background: #fff;
  background: linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 10%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.75) 90%, rgba(255, 255, 255, 0.75) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 10%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.75) 90%, rgba(255, 255, 255, 0.75) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 10%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.75) 90%, rgba(255, 255, 255, 0.75) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 10%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.75) 90%, rgba(255, 255, 255, 0.75) 100%);
  border: 1px solid #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  float: left;
  font: 1em/1 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  margin: 0 0 10px -92px;
  ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  o-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  padding: 15px 20px 15px 65px;
  position: relative;
  width: 415px;
}

.no-comments .entry-header .vcard {
  width: 530px;
}

.entry-header cite {
  font-style: normal;
}

.entry-header .vcard img {
  border: 1px solid #fff;
  left: 0;
  left: 20px;
  position: absolute;
  top: .75em;
}

.entry-header .vcard a:hover img,
.entry-header .vcard a:focus img,
.entry-header .vcard a:active img {
  border-color: inherit;
}

.entry-comments {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  float: right;
  font: 1em/1 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  margin: 0 0 10px;
  ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  o-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  width: 100px;
}

.entry-comments a {
  background: transparent url("../assets/icn-comment.png") 24px 17px no-repeat;
  border: 1px solid #fff;
  display: block;
  padding: 15px 5px 15px 47px;
}

.entry-comments a:hover,
.entry-comments a:focus,
.entry-comments a:active {
  background-position: 24px -83px;
}

.show-comments.no-author .entry-comments {
  position: absolute;
  right: 0;
  top: 0;
}

.edit {
  font-size: .857em;
}

.entry-header .edit {
  float: left;
  margin-left: -92px;
}

.page .entry-header .edit {
  margin: 1.35em 0 .5em;
}

.edit a {
  background: #eee;
  background: linear-gradient(top, #fff 0, #eee 100%);
  background: -moz-linear-gradient(top, #fff 0, #eee 100%);
  background: -ms-linear-gradient(top, #fff 0, #eee 100%);
  background: -o-linear-gradient(top, #fff 0, #eee 100%);
  background: -webkit-linear-gradient(top, #fff 0, #eee 100%);
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  margin-top: -2px;
  padding: 1px 5px;
}

.edit a:hover,
.edit a:focus {
  border-color: #999;
}

.entry-posted {
  background: url("../assets/bg-date-lt.png") center top no-repeat;
  font: 10px/1 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  left: 0;
  padding: 6px 10px 16px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 48px;
}

.entry-posted a:link,
.entry-posted a:visited,
.entry-posted a:hover,
.entry-posted a:focus,
.entry-posted a:active {
  color: #3c3c3c;
}

.entry-posted .posted-month {
  display: block;
  font-size: 1.4em;
  text-transform: uppercase;
}

.entry-posted .posted-date {
  display: block;
  font-size: 2.6em;
  line-height: .95;
}

.entry-posted .posted-year {
  display: block;
  font-size: 1.4em;
}

.entry-content ul,
.entry-content ol {
  margin: 0 0 1.5em 24px;
}

.entry-content ul li {
  margin-bottom: 10px;
}

.entry-content li ul,
.entry-content li ol {
  margin: 0 0 0 24px;
}

.entry-content blockquote {
  font-style: italic;
  padding: 0 24px;
}

.entry-content blockquote em,
.entry-content blockquote i,
.entry-content blockquote cite {
  font-style: normal;
}

.entry-content dt {
  font-style: italic;
}

.entry-content dd {
  padding-left: 24px;
}

.entry-content table {
  border-collapse: collapse;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px 0 0;
}

.entry-content tr:nth-child(even) {
  background-color: rgba(200, 200, 200, .1);
}

.entry-content th,
.entry-content td {
  border-bottom: 1px solid #ddd;
  padding: 0 6px;
}

.entry-content thead th {
  background-color: rgba(200, 200, 200, .2);
  font-size: .857em;
  font-weight: normal;
  text-align: left;
}

.entry-content tbody th {
  text-align: left;
}

.entry-content .gist table,
.entry-content .gist th,
.entry-content .gist td {
  border: 0;
  margin: 0;
}

.entry-content pre {
  overflow: auto;
}

.entry-content code {
  font-size: .857em;
}

.entry-content hr {
  background: transparent;
  border-top: 1px dotted rgba(0, 0, 0, .25);
  clear: both;
  color: transparent;
  margin: 30px auto;
}

.entry-content iframe {
  max-width: 100%;
}

.entry-content img,
.entry-summary img {
  background-color: #fff;
  border: 10px solid #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.alignleft {
  float: left;
  margin: 0 24px .5em 0;
}

a .alignleft {
  margin: 0 24px .5em 0;
}

.alignright {
  float: right;
  margin: 0 0 .5em 24px;
}

a .alignright {
  margin: 0 0 .5em 24px;
}

.aligncenter {
  display: block;
  margin: 0 auto 1.5em;
}

a.go:after {
  content: "\00A0\00BB";
  font-size: 1.2em;
}

.pages {
  margin-bottom: 2em;
}

.pages span,
.pages b,
.pages a {
  background: #eee;
  border-radius: 3px;
  margin-right: 2px;
  padding: 1px 6px;
}

.pages .current,
.pages b {
  background: #447bc4;
  color: #fff;
}

.pages a b {
  background: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
}

.nav-paging {
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  font: 1em/1 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  margin: 24px 0;
  padding: 12px 20px;
}

.nav-paging ul {
  list-style: none;
  margin: 0;
}

.nav-paging ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.nav-paging .prev {
  float: left;
  text-align: left;
  width: 45%;
}

.nav-paging .prev a:before {
  content: "\00AB\00A0";
  font-size: 1.2em;
}

.nav-paging .next {
  float: right;
  text-align: right;
  width: 45%;
}

.nav-paging .next a:after {
  content: "\00A0\00BB";
  font-size: 1.2em;
}

input[type=email],
input[type=text],
select,
textarea,
button {
  margin-bottom: 15px;
  width: 600px;
}

textarea {
  height: 100px;
  margin: 6px 0 10px 0;
}

input[type=email],
input[type=url],
input[type=search],
input[type=password],
input[type=text],
textarea {
  background: rgba(0, 0, 0, 0.05);
  background: transparent;
  border: 1px solid #dbdbdb;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 4px, rgba(255, 255, 255, 0.1) 0 1px 0;
  font-size: .857em;
  moz-transition: all .1s linear;
  ms-transition: all .1s linear;
  o-transition: all .1s linear;
  padding: 6px 10px;
  transition: all .1s linear;
  webkit-transition: all .1s linear;
}

input[type=email]:hover,
input[type=url]:hover,
input[type=search]:hover,
input[type=password]:hover,
input[type=text]:hover,
textarea:hover {
  background-color: rgba(0, 0, 0, 0.03);
  border-color: #bbb;
}

input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=text]:focus,
textarea:focus {
  background-color: #fafafa;
  border-color: #bbb;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 4px, rgba(255, 255, 255, 0.1) 0 1px 0;
  outline: 0 none;
}

.button-container {
  padding-bottom: 10px;
  padding-top: 10px;
}

.button,
input[type=submit],
button {
  background: #0095dd;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3;
  margin: 0 auto 40px auto;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  webkit-transition: all .2s ease-in-out;
}

input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus,
.button:hover,
.button.focus {
  background: #00a6f7;
}

.button.red {
  background: #C6252F;
  border: .2rem solid transparent;
}

.button.red:hover {
  background: #EA3B28;
  text-decoration: none;
}

.button.reversed-red {
  background: #fff;
  border: .2rem solid #F2F0E9;
  color: #C6252F;
}

.button.reversed-red:hover {
  border-color: #C13832;
  text-decoration: none;
}

.button.blue {
  color: #fff;
}

.button.blue:hover {
  text-decoration: none;
}

form li {
  margin-bottom: 1em;
}

label {
  display: block;
  font: 1em "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  line-height: 150%;
  padding: 0 0 .5em;
}

label .note {
  color: #666;
}

.pwform {
  margin: 0 0 1.5em;
}

.pwform br {
  display: none;
}

input::-webkit-input-placeholder {
  text-transform: uppercase;
}

input:-moz-placeholder {
  text-transform: uppercase;
}

.button {
  color: #fff;
}

.page-open-web-fellows #page,
.page-get-involved #page {
  background-color: #f2f0e9;
  background-image: url("../assets/stopwatching-1280_fademore.png"), url("../assets/bg-sand.png");
  background-repeat: no-repeat, repeat-x, repeat;
  background-size: 100%, 0, 0;
}

.page-open-web-fellows article,
.page-get-involved article,
.page-thank-you article {
  background: #fff;
  padding: 15px 25px;
}

.page-open-web-fellows .entry-content ul {
  list-style-type: none;
  margin-left: 40px;
}

.page-open-web-fellows ul i {
  color: #C6252F;
  font-size: 20px;
  margin: 0 10px 0 -35px;
  vertical-align: middle;
  width: 25px;
}

.page-open-web-fellows h3 {
  margin-bottom: 20px;
  margin-top: 40px;
}

.page-open-web-fellows .entry-content img.no-border {
  border: 0;
  box-shadow: none;
  margin: 0;
}

.page-open-web-fellows .entry-content .photo-credit small {
  padding-top: 0;
  position: relative;
  text-align: right;
  top: -15px;
}

.page-open-web-fellows #org-grid {
  overflow: hidden;
}

.page-open-web-fellows #org-grid a {
  display: inline-block;
  float: left;
  height: 100px;
  margin-right: 3.333%;
  width: 30%;
}

.page-open-web-fellows #org-grid img {
  background: none;
  border: 0;
  box-shadow: none;
  float: left;
  margin: 0 3% 20px 0;
  min-width: 130px;
  width: 100%;
}

.page-open-web-fellows .apply-button-container {
  margin: 70px 0;
  text-align: center;
}

.page-open-web-fellows small {
  clear: both;
  display: block;
  padding-top: 15px;
}

.page-host-organizations #orgs {
  margin-top: 30px;
}

.page-host-organizations #orgs img {
  border: 0;
  box-shadow: 0 0;
  margin-right: 20px;
}

.page-host-organizations #orgs p {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.page-host-organizations #orgs span {
  display: block;
  margin-left: 270px;
}

.page-get-involved .entry-content ul {
  list-style-type: none;
  margin-bottom: 40px;
  margin-left: 0;
}

.page-get-involved .entry-content ul h3 {
  margin-bottom: 0;
}

.page-get-involved .entry-content ul i {
  color: #C6252F;
  margin-right: 15px;
}

.home.page-coming-soon #page {
  background-color: #F2F0E9;
  background-image: url('bg-gradient-sand.png'), url('bg-sand.png');
}

.page-coming-soon .main.coming-soon {
  padding: 50px 0;
  text-align: center;
}

.page-coming-soon .main.coming-soon img {
  margin-bottom: 30px;
  max-width: 400px;
}

.page-coming-soon .coming-soon .white-container {
  background: #fff;
  margin-bottom: 30px;
  padding: 50px;
}

#intro p a:last-child {
  background: #fff;
  font-weight: bold;
  padding: 4px 12px;
}

#intro {
  text-align: center;
}

#intro h1 {
  color: #fff;
  font-size: 38px;
  font-weight: 300;
  margin: 15px 0 10px;
}

#intro p {
  color: #91F3FB;
  font-size: 17.5px;
  font-weight: 300;
}

#intro a {
  font-family: 'Fira Sans', 'Open Sans', Arial, sans-serif;
  font-size: 18px;
}

#intro .button {
  margin-right: 11px;
}

.entry-content .button {
  display: inline-block;
  margin: 10px 0 0;
}

#wide {
  background: #fff;
  margin: 0 auto;
  padding: 42px 0;
  width: 100%;
}

#wide-container {
  margin: 0 auto;
  max-width: 940px;
  overflow: hidden;
  text-align: center;
}

#wide-container .btn-container .button {
  display: block;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#wide .icon-container,
#wide-content {
  margin-left: 0;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

#wide .icon-container {
  text-align: center;
  width: 24%;
}

#wide .icon-container img {
  max-width: 200px;
  width: 100%;
}

#wide .copy {
  margin: 0px auto;
  max-width: 550px;
  padding-top: 10px;
}

#wide .copy h3 {
  color: #D93233;
  font-size: 32px;
  font-weight: 300;
}

#wide p {
  color: #333;
  font-family: 'Fira Sans', 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 9px;
}

#wide p a {
  color: inherit;
  text-decoration: underline;
}

#wide .btn-container {
  float: left;
  margin-top: 1rem;
  text-align: center;
  width: auto;
}

#action {
  background-color: #f2f0e9;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

#action h2,
.page-home #wide h2 {
  color: #4D4E53;
  font-weight: 300;
  font-size: 32px;
}

#action #inner {
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 940px;
}

#action .col {
  float: left;
  width: 455px;
}

#action .col:first-of-type {
  margin-right: 5px;
}

#action .col:last-of-type {
  margin-left: 5px;
}

#action .col .icon-container {
  color: #B1B1AD;
  font-size: 7em;
  text-align: center;
  padding-bottom: 15px;
}

#action .col:first-of-type .icon-container img {
  height: 110px;
  position: relative;
  top: 20px;
  width: auto;
}

#action .button {
  width: 170px;
}

#action img {
  width: 100%;
}

.main .fm-search {
  margin: 0 0 2em;
}

.fm-search p {
  margin: 0;
  position: relative;
}

.fm-search #s {
  appearance: textfield;
  background: #fafafa;
  background: rgba(255, 255, 255, .8) url("../assets/icn-search.png") 96% 50% no-repeat;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .02) inset;
  font-family: 'Fira Sans', "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  moz-appearance: textfield;
  moz-transition: all 0.1s linear;
  ms-transition: all 0.1s linear;
  o-appearance: textfield;
  o-transition: all 0.1s linear;
  padding: 6px 7.5% 6px 5px;
  transition: all 0.1s linear;
  webkit-appearance: textfield;
  webkit-transition: all 0.1s linear;
  width: 90%;
}

.fm-search #s:hover {
  background-color: rgba(255, 255, 255, .9);
  border-color: #999;
}

.fm-search #s:focus {
  background-color: #fff;
  border-color: #3c3c3c;
  outline: 0;
}

#thank-you-action #inner {
  overflow: hidden;
}

#thank-you-action .col {
  float: left;
  width: 49%;
}

#thank-you-action ul {
  list-style-type: none;
  margin-left: 40px;
}

#thank-you-action ul i {
  color: #C6252F;
  font-size: 20px;
  margin: 0 0 0 -35px;
  vertical-align: middle;
  width: 25px;
}

.comments-head {
  clear: both;
  margin: 48px 0 24px;
}

#comment-list {
  list-style: none;
  margin: 0 0 48px;
  padding: 0;
}

#comment-list .comment,
#comment-list .pingback,
#comment-list .trackback {
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-size: .875em;
  margin: 0 0 24px;
  ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 19px;
}

#comment-list .alt {
  background: #f7f7f7;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 1px rgba(0, 0, 0, 0.1);
  ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 1px rgba(0, 0, 0, 0.1);
  o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 1px rgba(0, 0, 0, 0.1);
}

#comment-list .byuser {
  border-color: #cdd3dc;
  box-shadow: inset 0 2px 12px rgba(175, 38, 38, .01), 0 1px 1px rgba(0, 0, 0, 0.1);
  ms-box-shadow: inset 0 2px 12px rgba(175, 38, 38, .01), 0 1px 1px rgba(0, 0, 0, 0.1);
  o-box-shadow: inset 0 2px 12px rgba(175, 38, 38, .01), 0 1px 1px rgba(0, 0, 0, 0.1);
}

#comment-list.av .comment {
  min-height: 70px;
  padding-left: 92px;
  position: relative;
}

#comment-list .entry-title {
  font-size: 1.25em;
  letter-spacing: normal;
  margin: 0 0 1.5em;
  min-height: 0;
}

#comment-list .author {
  font-style: normal;
}

#comment-list .entry-title cite {
  font-style: normal;
}

#comment-list .comment-meta {
  font-size: .857em;
}

#comment-list .avatar {
  border: 1px solid #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  left: 19px;
  moz-transition: all .1s linear;
  ms-transition: all .1s linear;
  o-transition: all .1s linear;
  position: absolute;
  top: 19px;
  transition: all .1s linear;
  webkit-transition: all .1s linear;
}

#comment-list a:hover .avatar,
#comment-list a:focus .avatar,
#comment-list a:active .avatar {
  border-color: inherit;
}

#comment-list .entry-content p,
#comment-list .entry-content pre,
#comment-list .entry-content blockquote {
  margin: .75em 0 0;
}

#comment-list .mod {
  background: #fff2db;
  border: 1px solid #f0dfc0;
  color: #3c3c3c;
  font-size: 1.07em;
  margin-top: 1em;
  padding: .5em 15px;
  text-align: center;
}

#comment-list .comment-util {
  border-top: 1px dotted rgba(100, 100, 100, .2);
  font-size: 1em;
  margin: 1em 0 0;
  padding: .5em 0 0;
}

#comment-list .comment-util a {
  margin-right: 20px;
}

#comment-list .comment-reply-link:after {
  content: "\00A0\00BB";
  font-size: 1.2em;
}

#comment-list .comment-util .edit {
  font-size: 1em;
}

#comment-list ol.children {
  list-style: none;
  margin: 24px 0 0;
}

#comment-list ol.children .comment {
  font-size: 1em;
  margin: 0 0 0 -72px;
}

#comment-form {
  padding: 3em 0 0;
  position: relative;
}

#comment-form legend span {
  font: 1.5em/1 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  letter-spacing: -1px;
  margin: 0 0 .25em;
  position: absolute;
  top: 0;
}

#comment-form .self {
  margin-bottom: 1em;
}

#comment-form .self .logout {
  font-size: .923em;
  margin-left: 1em;
}

#comment-list #respond {
  margin: 1em 20px;
  width: auto;
}

#comment-list .children #respond {
  margin-left: -50px;
}

#cancel-comment-reply {
  font-size: .857em;
  position: absolute;
  right: 0;
  top: .15em;
}

#cancel-comment-reply a {
  background: #eee;
  background: linear-gradient(top, #fff 0, #eee 100%);
  background: -moz-linear-gradient(top, #fff 0, #eee 100%);
  background: -ms-linear-gradient(top, #fff 0, #eee 100%);
  background: -o-linear-gradient(top, #fff 0, #eee 100%);
  background: -webkit-linear-gradient(top, #fff 0, #eee 100%);
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  margin-left: 20px;
  padding: 1px 5px;
}

#cancel-comment-reply a:hover,
#cancel-comment-reply a:focus,
#cancel-comment-reply a:active {
  border-color: #999;
}

#comment-form #errors {
  background: #ffeef0;
  border: 1px solid #fac4c7;
  margin-bottom: 1em;
  padding: .5em 15px .25em;
}

#comment-form #errors p {
  margin-bottom: .5em;
}

#comment-form .err {
  background: #ffeef0;
}

#comment-form input,
#comment-form textarea {
  font-size: .857em;
  width: 96%;
}

#comment-form #cmt-ackbar {
  height: 0;
  left: -999em;
  position: absolute;
}

#widget-footer {
  clear: both;
  padding: 21px 0 35px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

#widget-footer .footer-widget {
  float: left;
  margin-right: 20px;
  padding-bottom: 20px;
  position: relative;
}

.footer-widget ul {
  margin-left: 17px;
}

#widget-footer .footer-widget:nth-child(2) h3 a {
  color: #4D4E53;
  pointer-events: none;
}

#widget-footer .footer-widget:nth-child(2) a.rsswidget[title="Syndicate this content"] {
  display: none;
}

#widget-footer .footer-widget:nth-child(2) a.rsswidget img {
  display: none;
}

#widget-footer .footer-widget:nth-child(2) ul {
  list-style-type: none;
  margin-left: 0;
}

#widget-footer .footer-widget:nth-child(2) span.rss-date {
  color: #848484;
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 10px;
}

#widget-footer .footer-widget:last-child {
  margin-right: 0;
}

.news-contents .news {
  margin-left: 0 !important;
}

.news-contents .news .widget-rss-output {
  margin-bottom: 15px;
}

.twitter-timeline {
  height: 270px;
  width: 100% !important;
}

#site-info {
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, .1);
  clear: both;
  color: #bbb;
  font-size: .857em;
  overflow: hidden;
  padding: 48px 0;
  clear: both;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

#foot-logo,
#colophon,
#nav-meta {
  float: left;
  margin-right: 24px;
  width: 252px;
}

#foot-logo .logo {
  background: url("../assets/logo-mozilla-lt.png") 0 0 no-repeat;
  border: 0;
  display: block;
  float: left;
  height: 26px;
  moz-transition: opacity .1s linear;
  ms-transition: opacity .1s linear;
  opacity: .8;
  o-transition: opacity .1s linear;
  overflow: hidden;
  text-indent: -999em;
  transition: opacity .1s linear;
  webkit-transition: opacity .1s linear;
  width: 92px;
}

#foot-logo .logo:hover,
#foot-logo .logo:focus,
#foot-logo .logo:active {
  opacity: 1;
}

#nav-meta ul {
  list-style: none;
}

#nav-meta a {
  font-family: 'Fira Sans', "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
}

@media only screen and (min-width: 1025px) {
  #action .col p {
    min-height: 70px;
    font-weight: 200;
  }
}

#page:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
  height: 0;
  left: 50%;
  position: relative;
  width: 0;
}

@media only screen and (min-width: 992px) {
  #action .col p {
    min-height: 70px;
    font-weight: 200;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1027px) {
  .home-fellow-content .home-fellow-intro p {
    font-size: 32px;
  }
  .home-fellow {
    height: 275px;
  }
  .home-fellow-left-img {
    position: absolute;
    width: 300px;
    left: -15px;
  }
  .home-fellow-right-img {
      position: absolute;
      width: 265px;
      right: -10px;
  }
  #intro h1 {
    font-size: 32px;
    margin: 0 70px;
  }
  #intro p {
    margin: 10px 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .wrap {
    width: 700px;
  }

  .main {
    width: 520px;
  }

  #site-title {
    font-size: 3em;
    letter-spacing: -2px;
    margin-left: 0;
  }

  body.home #action {
    padding-top: 10px;
    width: 220px;
  }

  #action {
    width: 100% !important;
  }

  #action #inner {
    width: 700px;
  }

  #action #inner .col {
    width: 100%;
  }

  .entry-header .vcard {
    width: 310px;
  }

  .no-comments .entry-header .vcard {
    width: 430px;
  }

  input[type=email],
    input[type=text],
    select,
    textarea,
    button {
    width: 500px;
  }

  #widget-footer .wrap,
    #site-info .wrap {
    overflow: auto;
    width: 700px;
  }

  #foot-logo,
    #colophon,
    #nav-meta {
    margin: 0 10px 1em 10px;
    width: 220px;
  }
}

@media only screen and (max-width: 767px) {
  .home-fellow {
    height: 210px;
  }
  .home-fellow-left-img, .home-fellow-right-img {
    display: none;
  }
  #widget-footer .footer-widget {
    margin: 0 auto;
    padding: 0 30px;
  }
  .home-fellow-content .home-fellow-intro {
    margin: 0px auto;
    max-width: 550px;
    padding-top: 0;
  }

  .home-fellow-content {
    margin-top: 50px;
    max-width: 360px;
  }

  .fa-angle-double-right::before {
    font-size: 2em;
  }

  .home-fellow-content .home-fellow-intro p {
    font-size: 32px;
    line-height: 38px;
  }

  #intro h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .home-fellow-arrow {
    padding-top: 10px;
  }

  .button,
    input[type=submit],
    button {
    padding: 15px 20px;
  }

  #wide-content {
    margin: 0 auto;
    padding: 0px 30px;
  }

  .page-open-web-fellows article,
    .page-get-involved article,
    .page-thank-you article {
    background: none;
  }

  .page-coming-soon .main.coming-soon img {
    max-width: 250px;
  }

  .page-coming-soon .coming-soon .white-container {
    margin-bottom: 0;
    padding: 30px;
  }

  header {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  header hgroup {
    border-bottom: 0 !important;
  }

  h1 img {
    float: right;
    width: 85%;
  }

  .nav-full {
    display: none;
  }

  #nav-primary {
    float: none;
  }

  #nav-primary.menu-main-nav-container {
    background-color: #fff;
  }

  #nav-primary-sub {
    display: none;
  }

  #nav-primary > ul li {
    padding-top: 0px;
  }

  #nav-primary > ul li a {
    color: #D42E32;
  }

  #nav-primary > ul li.current-menu-item,
    #nav-primary > ul li.current-menu-ancestor {
    background-color: #fff;
    background-image: none;
  }

  #nav-primary > ul li.current-menu-item,
    #nav-primary > ul li.current-menu-ancestor {
    background-image: none;
  }

  #mobile-nav-container {
    display: inline-block;
    position: relative;
    top: -57px;
    width: 100%;
  }

  #navtoggle {
    color: #666;
    font-size: 30px;
  }

  .home #navtoggle {
    color: #fff;
  }

  #mobilenav {
    display: none;
  }

  #mobilenav nav {
    margin-top: 25px;
  }

  #mobilenav nav ul ul {
    margin-left: 20px;
  }

  #content {
    position: relative;
    top: -50px;
    width: auto;
  }

  #page {
    background: radial-gradient(#2D8BD9, #2D94E3, #2379BE) repeat-x scroll center top;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  article {
    padding: 0 !important;
  }

  .home #page {
    background-size: contain;
  }

  .hero {
    margin: 0 auto;
    padding: 0 30px;
  }

  .wrap {
    margin: 0 auto;
  }

  .main {
    float: none;
    margin: 0 0 2em;
    width: auto;
  }

  .home #page {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0;
  }

  #intro {
    margin-bottom: 0;
    padding-top: 0;
  }

  #intro h2 {
    font-size: 1.75em;
    text-shadow: none;
  }

  #intro p {
    color: #91F3FB;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0;
  }

  #intro p a:last-child {
    background: none;
    display: block;
    margin-top: 5px;
    padding: 0;
  }

  #wide {
    background: #fff;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }

  #wide .copy {
    padding-top: 40px;
    width: 100%;
  }

  #wide-container {
    width: 100%;
  }

  #wide .icon-container {
    width: 100%;
  }

  #wide .icon-container img {
    margin: 0 auto;
  }

  #wide p {
    font-size: 1.25em !important;
    line-height: 140%;
    margin-bottom: 20px;
    margin-right: 0 !important;
    width: 100%;
  }

  #wide .btn-container {
    width: 100%;
  }

  #wide .button {
    font-size: 1.25em;
    margin: 0 auto;
  }

  #action {
    min-height: 420px;
    overflow: visible;
    padding-bottom: 15px;
  }

  #action #inner,
    #thank-you-action #inner {
    width: 280px;
  }

  #action .col,
    #thank-you-action .col {
    float: none;
    width: 100%;
  }

  #action .col:first-of-type,
    #action .col:last-of-type {
    margin: 0;
  }

  #action .col:last-of-type {
    margin-top: 30px;
  }

  input[type=email],
    input[type=text],
    select,
    textarea,
    button {
    width: 90%;
  }

  #ss-submit {
    font-weight: bold;
  }

  .page-host-organizations #orgs img {
    margin-right: 0 !important;
    max-width: 100%;
    width: 250px !important;
  }

  .page-host-organizations #orgs p {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 15px;
  }

  .page-open-web-fellows #org-grid a {
    display: inline-block;
    float: left;
    height: auto;
    margin: 0 0 26px 0;
    width: 280px;
  }

  .page-open-web-fellows #org-grid img {
    float: left;
    margin: 0;
    max-width: 100%;
  }

  #masthead {
    background-image: none !important;
    margin: 0 0 24px 0;
    min-height: 0;
    padding: 58px 20px 20px;
    width: auto;
  }

  #masthead hgroup {
    border-bottom: 1px solid;
    float: none;
    padding-bottom: 20px;
    padding-right: 0;
  }

  #masthead.image hgroup {
    padding-right: 0;
  }

  #site-title {
    font-size: 2em;
    letter-spacing: -.5px;
    margin-left: 0;
  }

  #nav-access a:focus,
    #nav-access a:active {
    top: 60em;
  }

  .post .entry-title {
    min-height: 0;
  }

  .archive .page-title,
    .search-results .page-title {
    font-size: 1.75em;
    letter-spacing: -0.5px;
  }

  .single .entry-title,
    .page .entry-title {
    font-size: 2em;
    letter-spacing: -1px;
    margin-bottom: .5em;
  }

  .post.no-author .entry-title {
    float: none;
    width: auto;
  }

  .post .entry-header {
    padding-left: 0;
  }

  .entry-header .edit {
    margin-left: 0;
  }

  .entry-posted {
    background-image: none;
    font-size: 1em;
    margin: 0 0 1em;
    padding: 0;
    position: static;
    text-align: left;
    width: auto;
  }

  .entry-posted .posted-month {
    display: inline;
    font-size: 1em;
    text-transform: none;
  }

  .entry-posted .posted-date {
    display: inline;
    font-size: 1em;
    line-height: 1.2;
  }

  .entry-posted .posted-year {
    display: inline;
    font-size: 1em;
  }

  .post .entry-header .vcard {
    float: none;
    margin: .5em 0;
    padding: 6px 12px;
    width: auto;
  }

  .entry-header .avatar {
    display: none;
  }

  .entry-comments {
    clear: both;
    float: none;
    margin: .5em 0;
    width: auto;
  }

  .entry-comments a {
    background-position: 12px 8px;
    padding: 0;
    padding: 6px 0 6px 36px;
  }

  .entry-comments a:hover,
    .entry-comments a:focus,
    .entry-comments a:active {
    background-position: 12px -92px;
  }

  .show-comments.no-author .entry-comments {
    position: static;
  }

  .alignleft,
    .alignright {
    height: auto;
    max-width: 50%;
  }

  #comment-list.av .comment {
    padding-left: 19px;
  }

  #comment-list ol.children .comment {
    margin: 0 -10px -10px;
  }

  #comment-list .avatar {
    display: none;
  }

  #comment-list .entry-title {
    font-size: 1em;
  }

  #nav-primary {
    margin: 24px 0;
    padding: 4px 10px;
    text-align: left;
  }

  #nav-primary ul {
    list-style: none;
    margin: 0;
  }

  #nav-primary li {
    border-top: 1px dotted #ccc;
    display: block;
    padding: 4px 0;
  }

  #nav-primary li:first-child {
    border: 0;
  }

  #nav-primary a {
    border: 0;
    display: block;
  }

  .home #widget-footer {
    margin-top: 25px;
  }

  #site-info {
    padding: 24px 0;
  }

  #foot-logo,
    #colophon,
    #nav-meta {
    clear: both;
    float: none;
    margin: 0 20px 1em;
    moz-transition: width .5s ease-out;
    ms-transition: width .5s ease-out;
    o-transition: width .5s ease-out;
    transition: width .5s ease-out;
    webkit-transition: width .5s ease-out;
    width: auto;
  }

  #foot-logo a {
    clear: both;
    margin: 0 0 1em;
  }

  #foot-logo .top:link,
    #foot-logo .top:visited,
    #foot-logo .top:hover,
    #foot-logo .top:focus,
    #foot-logo .top:active {
    background: transparent;
    border: 0;
    display: block;
    padding: 0;
    position: static;
    text-align: inherit;
    width: auto;
  }

  #orgs span {
    clear: both;
    margin: 0 !important;
    padding-top: 3px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #site-title {
    font-size: 2.5em;
    letter-spacing: -1px;
    margin-left: 0;
  }

  #content-sub .sidebar {
    float: left;
    width: 205px;
  }

  #action #inner {
    width: 436px !important;
  }

  #wide {
    padding-bottom: 40px;
  }

  #action {
    padding-bottom: 0px;
  }
}
