html {
  background-color: #1E1E1E;
  font-family: 'Fira Sans',Arial,"Lucida Grande",sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}

.page {
  background-color: #FFFFFF;
  overflow: hidden;
  a {
    color: #009DAA;
  }
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 32px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #383838;
}
