.header {
  width: 100%;
  height: 90px;
  position: absolute;
}
.header .header-content {
  max-width: 1200px;
  margin: 0px auto;
  height: 100%;
}
.header .header-content .nav-home {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  float: left;
  padding-top: 0;
  width: auto;
}
.header .header-content .nav-items {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  float: right;
}
.header .header-content .nav-items .nav-link-container {
  font-size: 20px;
  color: #FFFFFF;
  opacity: .6;
  margin: 0 18px;
  font-weight: 400;
}
.header .header-content .nav-items .nav-link-container a {
  padding: 16px 0;
}
.header .header-content .nav-items .nav-link-container:hover {
  opacity: 1;
}
.fellows-page .header .header-content .nav-items .nav-link-container.fellows-link,
.overview-page .header .header-content .nav-items .nav-link-container.fellows-link,
.info-page .header .header-content .nav-items .nav-link-container.fellows-link {
  opacity: 1;
}
.home-page .header .header-content .nav-items .nav-link-container.home-link {
  opacity: 1;
}
.fellows-header {
  width: 100%;
  position: relative;
  height: 52px;
  margin-top: -52px;
  color: #FFFFFF;
}
.fellows-header.sticky {
  position: fixed;
  top: 52px;
  z-index: 2;
}
.fellows-header.sticky .fellow-header-overlay {
  opacity: 1;
  -webkit-transition: opacity 0.1s, background-color 0.1s;
          transition: opacity 0.1s, background-color 0.1s;
  background-color: #009DAA;
}
.fellows-header .fellow-header-overlay {
  position: absolute;
  background-color: #003E60;
  opacity: 0.5;
  content: '';
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.6s, background-color 0.6s;
          transition: opacity 0.6s, background-color 0.6s;
}
.fellows-header .nav-items {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: 100%;
  margin: 0 auto;
}
.fellows-header .nav-items .nav-link-container {
  font-size: 20px;
  color: #FFFFFF;
  opacity: .6;
  margin: 0 18px;
  font-weight: 400;
}
.fellows-header .nav-items .nav-link-container a {
  padding: 16px 0;
}
.fellows-header .nav-items .nav-link-container:hover {
  opacity: 1;
}
.fellows-page .fellows-header .nav-items .nav-link-container.current-fellows-link {
  opacity: 1;
}
.info-page .fellows-header .nav-items .nav-link-container.info-link {
  opacity: 1;
}
.overview-page .fellows-header .nav-items .nav-link-container.overview-link {
  opacity: 1;
}
.hero-unit {
  background-color: #00A2AF;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 26px;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .hero-unit {
    height: 500px;
    font-size: 44px;
  }
}
.hero-unit .button:hover {
  color: #009DAA;
}
.apply .apply-hero-unit .hero-unit {
  background-position: center 0;
  text-transform: none;
}
.apply .apply-hero-unit .hero-unit h2,
.apply .apply-hero-unit .hero-unit h4 {
  color: #FFFFFF;
  max-width: 900px;
  width: 100%;
  margin: 10px auto;
}
.apply .apply-hero-unit .hero-unit h4 {
  font-style: italic;
  margin: 22px auto;
}
.apply .apply-hero-unit .hero-unit .fine-print {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  color: #FFFFFF;
}
.apply .apply-hero-unit .hero-unit .horizontal-rule {
  background-color: #FFFFFF;
  width: 82px;
  height: 1px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .apply .apply-hero-unit .hero-unit {
    height: 424px;
  }
}
.apply .apply-hero-unit .button:hover {
  color: #667FB5;
}
.footer {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  padding: 45px 10px;
  box-sizing: border-box;
}
.footer .icon-container {
  margin: 18px 0;
}
.footer .icon-container .icon {
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
}
.footer .icon-container .icon .footer-icon {
  opacity: .5;
}
.footer .icon-container .icon a {
  color: #FFFFFF;
  opacity: .5;
  text-decoration: none;
}
.footer .icon-container .icon:hover a,
.footer .icon-container .icon:hover .footer-icon {
  opacity: 1;
}
.footer .footer-content {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
}
.footer .footer-content p {
  color: rgba(255, 255, 255, 0.5);
}
.footer .footer-content p a {
  color: #ffffff;
}
.footer .footer-content .horizontal-rule {
  background-color: #6E6E6E;
  border-top: 1px solid #454545;
  height: 1px;
  width: 64px;
  margin: 12px auto 0;
}
@media screen and (min-width: 480px) {
  .footer .footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .footer .footer-content img {
    margin-left: 16px;
  }
  .footer .footer-content p {
    text-align: left;
  }
  .footer .footer-content .horizontal-rule {
    border-top: 0 solid #454545;
    border-left: 1px solid #454545;
    height: 64px;
    width: 1px;
    margin: 0 12px;
  }
  .footer .icon-container {
    display: inline-block;
    margin: 0 18px;
  }
  .footer .icon-container .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .footer .icon-container .icon .footer-icon {
    margin: 0 4px 0 0;
    display: inline-block;
  }
}
.content-container {
  position: relative;
}
.content-container .content {
  position: relative;
  overflow: auto;
  z-index: 1;
  padding: 85px 0 70px 0;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.content-container.grey {
  background-color: #EFEFEF;
}
.content-container.grey.slant {
  background-color: #FFFFFF;
}
.content-container.grey.slant:before {
  content: '';
  position: absolute;
  background-color: #EFEFEF;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  width: 100%;
  height: 100%;
}
.content-container.grey.slant.flat-bottom.slant:before,
.content-container.grey.slant.flat-top.slant:before {
  height: calc(100% - 85px);
}
.content-container.grey.slant.flat-bottom.slant:after,
.content-container.grey.slant.flat-top.slant:after {
  content: '';
  position: absolute;
  background-color: #EFEFEF;
  width: 100%;
}
.content-container.grey.slant.flat-bottom.slant:after {
  bottom: 0px;
  height: calc(100% - 85px);
}
.content-container.grey.slant.flat-top.slant:before {
  top: 85px;
}
.content-container.grey.slant.flat-top.slant:after {
  top: 0px;
  height: calc(100% - 70px);
}
.home-page .home-page-hero-unit .hero-unit {
  background-color: #003E60;
}
.home-page .home-page-hero-unit .hero-unit h2 {
  color: #FFFFFF;
  margin: 10px auto;
  width: 100%;
  max-width: 940px;
}
.home-page .home-page-hero-unit .intro {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  font-weight: 400;
}
.home-page .row {
  max-width: 940px;
  width: 100%;
}
.home-page .row .half:first-child {
  padding-right: 10px;
}
.home-page .row .half:last-child {
  padding-left: 10px;
}
.home-page .home-page-item-container {
  background-color: #FFFFFF;
}
.home-page .home-page-item-container img {
  display: block;
}
.home-page .home-page-item-container .home-page-item {
  padding: 40px 30px;
}
.home-page .home-page-item-container .home-page-item h3 {
  color: #804A80;
  font-weight: 300;
  margin: 0;
}
.home-page .home-page-item-container .home-page-item p {
  margin: 0;
}
.home-page .home-page-item-container .home-page-item .home-page-item-text {
  min-height: 125px;
  margin: 8px 0px 22px;
}
.home-page .home-page-item-container .home-page-item .button {
  margin: 0;
  border-color: #009DAA;
}
.home-page .home-page-item-container .home-page-item .button:hover {
  background-color: #009DAA;
  color: #FFFFFF;
}
.home-page .home-page-item-container:first-child {
  margin-bottom: 20px;
}
.home-page .home-page-item-container:last-child {
  margin-top: 20px;
}
.info-page h2 {
  color: #804A80;
  margin: 10px 0;
}
.info-page .responsibilities p {
  margin-top: 0;
}
.info-page .responsibilities h4 {
  margin-bottom: 0;
}
.info-page .responsibilities .iconlist-container .iconlist-item img {
  margin-right: 34px;
}
.info-page h4 {
  color: #804A80;
  margin: 10px 0;
  font-style: italic;
}
.info-page h3 {
  color: #804A80;
  font-weight: 300;
  margin: 0;
}
.info-page .row-list {
  margin: 65px 0;
}
.info-page .timeline {
  width: 810px;
  margin: 60px auto 0;
}
.info-page .timeline .timeline-item-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.info-page .timeline .timeline-item-container .timeline-month {
  padding-top: 2px;
  height: 60px;
  width: 190px;
  border: solid 2px #80B6B1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  box-sizing: border-box;
  color: #667FB5;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}
.info-page .timeline .timeline-item-container .timeline-month-container {
  position: relative;
}
.info-page .timeline .timeline-item-container .timeline-month-container .vertical-line {
  width: 0;
  margin: 0 auto;
  border-left: solid 1px #80B6B1;
  border-right: solid 1px #80B6B1;
  position: absolute;
  bottom: 0;
  top: 60px;
  left: 50%;
}
.info-page .timeline .timeline-item-container .timeline-item {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  line-height: 30px;
  margin: 0 0 60px 50px;
}
.info-page .timeline .timeline-item-container .timeline-item h4 {
  margin: 0;
}
.info-page .timeline .timeline-item-container:last-child .timeline-item {
  margin: 0 0 0 50px;
}
.info-page .info-hero-unit .hero-unit {
  background-position: center 25%;
}
.info-page .financial-terms-unit .hero-unit h2 {
  color: #FFFFFF;
}
.info-page .financial-terms-unit .hero-unit h4 {
  font-weight: 400;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .info-page .financial-terms-unit .hero-unit {
    height: 424px;
  }
}
.info-page .iconlist-container {
  margin-top: 40px;
}
.info-page .iconlist-container .iconlist-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin: 45px 0;
}
.info-page .iconlist-container .iconlist-item .content-container {
  width: 100%;
}
.info-page .iconlist-container .iconlist-item p {
  margin: 0;
}
.info-page .iconlist-container .iconlist-item h4 {
  margin-top: 0;
}
.info-page .iconlist-container .iconlist-item img {
  margin-right: 54px;
}
.info-page .fine-print {
  line-height: 34px;
  color: #A2A2A2;
  font-style: italic;
}
.info-page .financial-item {
  overflow: auto;
  border-top: 1px solid #D6D6D6;
  line-height: 34px;
}
.info-page .financial-item:last-child {
  border-bottom: 1px solid #D6D6D6;
}
.info-page .financial-item .label {
  float: left;
}
.info-page .financial-item .amount {
  float: right;
}
.overview-page .icons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-top: 20px;
}
.overview-page .icons-container .icon {
  width: 33%;
  text-align: center;
  padding: 0 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}
.overview-page .icons-container .icon img {
  margin: 15px auto;
  display: block;
}
.overview-page .globe-image-container {
  text-align: center;
  margin-top: 70px;
}
.overview-page .page .globe-offset.content-container.slant.flat-top .content {
  padding: 85px 0 0 0;
}
.overview-page .page .globe-offset.content-container.slant.flat-top:before {
  height: calc(100% - 205px);
}
.overview-page .page .globe-offset.content-container.slant.flat-top:after {
  height: calc(100% - 205px);
}
.overview-page h2 {
  color: #804A80;
  margin: 10px 0;
  text-align: center;
}
.overview-page .organization-row {
  margin: 60px 0;
}
.overview-page .organization-row .organization {
  opacity: .7;
  text-align: center;
  width: 25%;
  display: inline-block;
}
.overview-page .organization-row .organization .organization-label {
  margin-top: 4px;
  font-style: italic;
}
.overview-page .organization-row .organization .organization-label .fa.fa-map-marker {
  margin-right: 5px;
}
.overview-page .organization-row .organization:hover {
  opacity: 1;
}
.fellows-page .fellows-hero-unit .hero-unit {
  background-position: center 20%;
}
.fellows-page .fellow-block .fellow-info-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.fellows-page .fellow-block .fellow-info-container h2 {
  color: #804A80;
  margin: 10px 0;
}
.fellows-page .fellow-block .fellow-info-container .fellow-info {
  width: calc(100% - 235px);
}
.fellows-page .fellow-block .fellow-info-container p {
  font-style: italic;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  margin: 10px 0;
}
.fellows-page .fellow-block .fellow-info-container .fellow-image-container img {
  margin-right: 35px;
}
html {
  background-color: #1E1E1E;
  font-family: 'Fira Sans', Arial, "Lucida Grande", sans-serif;
}
body {
  margin: 0;
  color: #383838;
}
a {
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}
p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}
.page {
  background-color: #FFFFFF;
  overflow: hidden;
}
.page a {
  color: #009DAA;
}
.highlight {
  color: #804A80;
  font-style: italic;
  font-weight: 400;
}
h1 {
  font-size: 64px;
  color: #80B6B1;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 20px;
  font-weight: 300;
}
.row {
  overflow: auto;
}
.row .half {
  float: left;
  box-sizing: border-box;
  width: 50%;
}
.row .half:first-child {
  padding-right: 15px;
}
.row .half:last-child {
  padding-left: 15px;
}
.intro {
  font-weight: 300;
  font-style: italic;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  margin: 0;
}
.center-align {
  text-align: center;
}
.button {
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  height: 50px;
  padding: 4px 22px 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  font-size: 19px;
  box-sizing: border-box;
  margin: 0 0 20px 0;
  -webkit-transition: background-color 0.15s, color 0.15s;
          transition: background-color 0.15s, color 0.15s;
}
.button:hover {
  background-color: #FFFFFF;
  color: #000000;
}
