.net-neutrality-comments {
  ul {
    padding-left: 21px;
  }
  .signup-form-container {
    vertical-align: top;
    margin: 54px 0 54px 0;
    .signup-form {
      padding: 0;
      max-width: 750px;
      display: block;
      margin: 0 auto;
      h4 {
        background: #36535E;
        padding: 1.2rem 1.5rem;
        color: #FFFFFF;
      }
      .blue-paragraph {
        background: #548094;
        margin: 0;
        padding: 1.2rem 1.5rem;
        color: #FFFFFF;
      }
      .fcc-form-input-container {
        padding: 1.2rem 1.5rem;
      }
      @media screen and (max-width: 992px) {
        position: static !important;
      }
    }
    .checkbox {
      width: auto;
      display: inline;
      height: auto;
      margin: 0 5px 0 0;
      vertical-align: text-bottom;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    p {
      font-size: 0.9375rem;
    }
    label {
      font-family: Fira Sans Condensed, sans-serif;
      color: #5b555c;
      font-size: 0.6rem;
      margin: 10px 0;
      display: block;
    }
    input, select, textarea {
      font-family: Fira Sans Condensed, sans-serif;
      letter-spacing: 0.03rem;
      font-size: 0.8rem;
      color: #5b555c;
      width: 100%;
      display: block;
      height: 45px;
      @media screen and (min-width: 1800px) {
        height: 70px;
      }
      border: 1px solid #CFCFCF;
      padding: 0 14px;
      &:invalid {
        box-shadow: none;
      }
      &.invalid {
        border-color: #FF0000;
      }
      &:focus {
        border-color: #548094;
      }
      margin-bottom: -1px;
      position: relative;
      &.invalid {
        z-index: 1;
      }
      &:focus {
        z-index: 2;
      }
    }
    textarea {
      padding: 14px;
      line-height: 1.1rem;
      height: 135px;
    }
    select {
      &:invalid {
        color: rgba(91, 85, 92, .55);
      }
      background: #FFFFFF;
      padding: 11px;
    }
    .get-involved {
      display: none;
    }
    @media screen and (max-width: 992px) {
      .sticky .get-involved {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    @media screen and (min-width: 992px) {
      width: 588px;
      margin: 0;
      position: relative;
      .signup-form {
        width: 588px;
        margin: 0 0 144px 0;
        padding: 0;
        h3 {
          margin-top: 0;
        }
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      .signup-form {
        width: 588px;
      }
    }
    @media screen and (min-width: 1800px) {
      width: 645px;
      .signup-form {
        width: 645px;
      }
    }
  }
}

.net-neutrality-comments {

  p {
    color: #4A4A4A;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  a {
    color: inherit;
  }

  .nav-offset {
    height: 65px;
    margin-top: -65px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .error-message {
    color: #FF0000;
  }

  p.error-message {
    font-family: Zilla Slab;
    margin-top: 0;
    font-size: .75rem;
  }

  a.button {
    display: block;
  }

  .button {
    height: 50px;
    width: 100%;
    cursor: pointer;
    background: #F74B31;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.01875rem;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    font-family: Fira Sans Condensed, sans-serif;
    font-weight: bold;
    text-align: center;
    @media screen and (min-width: 1800px) {
      height: 70px;
    }

    &.submitting {
      &::after {
        content: '';
        position: absolute;
        animation: spin 1s linear infinite; /* CSS3 */
        margin-top: -15px;
        margin-left: -15px;
        height: 20px;
        width: 20px;
        border: 5px solid #FFFFFF;
        border-right: 5px solid #000000;
        border-radius: 50%;
      }
    }
  }

}

.net-neutrality-comments {
  .moz-logo {
    font-size: 31px;
    padding: 0 2px;
    text-decoration: none;
    background: #000000;
    color: #FFFFFF;
  }
  .form-body-container {
    margin-top: 0;
  }
  .form-body-container {
    border: none;
    .form-body-border {
      border-right: 1px solid #CFCFCF;
      overflow: auto;
    }
    .form-body {
      padding: 1.2rem 1.5rem;
      margin-top: 0;
      .form-description {
        &::first-letter {
          color: #36535E;
        }
      }
    }
  }

  .net-neutrality-footer {
    .footer-contents {
      .footer-links {
        a {
          color: #FFFFFF;
        }
      }
    }
  }

  .nn-comments-header {
    padding: 1.2rem 1.5rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/assets/net-neutrality/save-the-internet.jpg");
    background-size: cover;
    background-position: 50%;
    h1, p {
      display: inline;
      box-decoration-break: clone;
      margin: 0;
      padding: 0.2rem 0.4rem;
    }
    h1 {
      color: #FFFFFF;
      background: #36535E;
      line-height: 2.8rem;
    }
    p {
      background: #548094;
      color: #FFFFFF;
      line-height: 1.66rem;
    }
  }

  .form-body-container {
    @media screen and (min-width: 992px) {
      width: ~"calc(100% - 588px)";
    }
  }

  .net-neutrality-header {
    border-bottom: solid 1px #CFCFCF;
    .header-image {
      height: ~"calc(100vh - 146px - 240px)";
      min-height: 226px;
      @media screen and (min-width: 642px) {
        min-height: 300px;
      }
      @media screen and (min-width: 400px) {
        height: ~"calc(100vh - 146px - 98px)";
      }
      background-image: url("/assets/net-neutrality/header.jpg");
      background-size: cover;
      background-position: 50%;
    }
    .header-content {
      margin: 0 20px;
      text-align: left;
      .header-content-container {
        margin: 31px auto;
        width: 100%;
        max-width: 500px;
        h1 {
          font-size: 2.3rem;
          font-weight: 600;
          line-height: 2.5rem;
        }
        @media screen and (max-width: 400px) {
          h1 {
            font-size: 1.5rem;
          }
        }
      }
    }
    .get-involved {
      display: none;
    }
    @media screen and (min-width: 992px) {
      height: ~"calc(100vh - 65px - 98px)";
      min-height: 450px;
      display: flex;
      flex-direction: row-reverse;
      .get-involved {
        display: block;
      }
      .header-content,
      .header-image {
        width: 50%;
        vertical-align: top;
      }
      .header-content {
        height: 100%;
        display: flex;
        .header-content-container {
          margin: auto;
          padding: 31px 0;
        }
      }
      .header-image {
        height: 100%;
      }
    }
  }
}
