.info-page {
  h2 {
    color: #804A80;
    margin: 10px 0;
  }
  .responsibilities {
    p {
      margin-top: 0;
    }
    h4 {
      margin-bottom: 0;
    }
  }
  h4 {
    color: #804A80;
    margin: 10px 0;
    font-style: italic;
  }
  .financial-terms-unit {
    .hero-unit {
      @media screen and (min-width: 768px) {
        height: 424px;
      }
    }
  }
}
