.fellows-header {
  width: 100%;
  background-color: #003E60;
  opacity: 0.5;
  height: 52px;
  margin-top: -52px;
  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 100%;
    margin: 0 auto;
    .nav-link-container {
      font-size: 20px;
      color: #FFFFFF;
      opacity: .6;
      margin: 0 18px;
      font-weight: 300;
      &.active,
      &:hover {
        opacity: 1;
      }
    }
  }
  @media screen and (min-width: 480px) {

  }
}
