.hero-unit {
  background-color: #00A2AF;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  text-align: center;
  font-size: 26px;
  font-weight: 800;
  @media screen and (min-width: 768px) {
    height: 500px;
    font-size: 44px;
  }

  .button {
    &:hover {
      color: #009DAA;
    }
  }
}
